.contact-wrapper {
  display: flex;
}
.contact {
  display: flex;
  flex-direction: column;
  background-color: #334155;
  color: white;
  border-radius: 10px;
  margin: 1rem;
  padding: 1rem;

  button {
    margin-top: 1rem;
    border-style: none;
    padding: 0.5rem 0;
    width: 100%;
    border-radius: 10px;
    color: #334155;
    font-weight: bold;
  }
}

.add-contact-btn {
  margin-top: 1rem;
  border-style: none;
  height: 2rem;
  width: 200px;
  border-radius: 8px;
  background-color: #334155;
  color: white;
}

.contact-title {
  border-bottom: 1px solid white;
  padding: 0.5rem 0;
}
.contact-notes {
  border-bottom: 1px solid white;
  padding: 0.5rem 0;
}
.phone-number {
  border-bottom: 1px solid white;
  padding: 0.5rem 0;
}
