.contact-wrapper {
  display: flex;
}
.contact {
  width: 170px;
  height: 230px;
  border-radius: 20px;
  background: #f5f5f5;
  position: relative;
  margin: 1rem;
  padding: 1.5rem;
  border: 2px solid #c3c6ce;
  transition: 0.5s ease-out;
  overflow: visible;
  color: rgb(134, 134, 134);
}

.contact-details {
  color: black;
  height: 100%;
  gap: 0.5em;
  display: grid;
  place-content: center;
}

.contact-title {
  font-size: 1.5em;
  font-weight: bold;
}
